/* @override 
	http://flameoz.com/sites/all/themes/firestarter/css/all.css?ma7wxj
	http://haloglowshow.com/sites/all/themes/firestarter/css/all.css?ma7wxj
	http://calvos.co.uk/sites/all/themes/firestarter/css/all.css?ma7wxj
	http://flameoz.com/sites/all/themes/firestarter/css/all.css?mbaye6
	http://calvos.co.uk/sites/all/themes/firestarter/css/all.css?mbaye6
	http://haloglowshow.com/sites/all/themes/firestarter/css/all.css?mbaye6
	http://flameoz.com/sites/all/themes/firestarter/css/all.css?mgq5hi
	http://haloglowshow.com/sites/all/themes/firestarter/css/all.css?mjnjwd
	http://haloglowshow.com/sites/all/themes/firestarter/css/all.css?mjpe3f
	http://calvos.co.uk/sites/all/themes/firestarter/css/all.css?mjpe3f
	http://flameoz.com/sites/all/themes/firestarter/css/all.css?mjpe3f
	http://calvos.co.uk/sites/all/themes/firestarter/css/all.css?mjpfn0
	http://flameoz.com/sites/all/themes/firestarter/css/all.css?mjpfn0
	http://haloglowshow.com/sites/all/themes/firestarter/css/all.css?mjpfn0

/*
  These styles apply to flameOz, Calvos and Halo
*/
body {
/*  background: #333 url(../images/wireframe1b.gif) no-repeat center top;*/
  background-color: #000;
  background-position: center top;
  background-repeat: no-repeat;
  color:#ccc;
}

body.toolbar {
  background-position: center 30px;
}
body.toolbar.toolbar-drawer {
  background-position: center 65px;
}

#content {
  min-height: 500px;
  padding:20px;
  padding-top: 0;
}

#main-wrapper, #footer {
/*  background-color: rgba(24, 24, 24, 0.8);*/
}

/*
  Regions
*/

#header {
  height: 223px;
}
#header a#logo {
  display: block;
  height:190px;
}
#header a#logo img {
  display: none;
}

.region-highlight {
/*  margin-bottom:20px;*/
  margin-bottom:0;
}


/*
  Home Page
*/
/* Layout */
body.node-type-home-page #content,
body.node-type-home-page .no-sidebars #content {
  float: left; 
  width: 960px;
  margin-left: 0; 
  margin-right: -960px; 
  padding: 0;
}

body.node-type-home-page {
  background-color: #000;
  background-image: url(../images/overlay_bgd.jpg);
}
body.node-type-home-page #header {
  display:none;
}

#node-1 .field-name-body p,
#node-2 .field-name-body p,
#node-3 .field-name-body p{
  margin-top: 30px;
  position: absolute;
  top: 700px;
  width: 85%;
  left: 80px;
  color: #888;
}

/*body.node-type-home-page #header #name-and-slogan {
  display:none;
}*/

/*footer graphic*/
#page {
/*  min-height:1590px;*/
  min-height:1425px;
  padding: 0 0 30px 0;
}

/*
  Main Triple Block
*/
/*overlays*/
.main-overlay {
  width:960px !important;
  height:603px !important;
  position:absolute;
  top:0;
}
#main-overlay-0 {
  background: #000 url(../images/overlay_bgd.jpg) center top no-repeat;
  position:relative;
  z-index:0;
}
#main-overlay-1 {
  background: transparent url(../images/overlay_flameoz.jpg) center top no-repeat;
  z-index:2;
}
#main-overlay-2 {
  background: transparent url(../images/overlay_calvos.jpg) center top no-repeat;
  z-index:1;
}
#main-overlay-3 {
  background: transparent url(../images/overlay_halo.jpg) center top no-repeat;
  z-index:3;
}

#main-triple-0 {
  width:960px !important;
  height:580px !important;
  position:absolute;
  top:0;
  z-index:4;
}


#block-flameozmod-main_triple{
  clear:both;
  margin:0 0 20px 0;
}
#main-triple-1,
#main-triple-2,
#main-triple-3 {
  float:left;
  margin:0 10px;
  width:300px;
  height:600px;
  position:relative;
}
#main-triple-1{
/*  background: #222;*/
  z-index:4;
}
#main-triple-2{
/*  background: #ccc;*/
  z-index:4;
}
#main-triple-3{
/*  background: #222;*/
  z-index:4;
}

/*
  Foot Triple Block
*/

#block-flameozmod-foot_triple{
  clear:both;
  margin:0 0 20px 0;
}
#foot-triple-1,
#foot-triple-2,
#foot-triple-3 {
  float:left;
  margin:0 10px;
  width:300px;
  height:200px;
}
#foot-triple-1{
  background: #222;
}
#foot-triple-2{
  background: #ccc;
}
#foot-triple-3{
  background: #222;
}

/*
  main menu
*/
/*#main-menu {
  font-family: ubuntu;
  font-size: 1.1em;
  text-transform: uppercase;
}
#main-menu li {
  background-color: rgba(0, 0, 0, 0.2);
  margin:0;
  padding:10px 20px;
  text-shadow: #000 0 2px 2px;
}
#main-menu li.active {
  background-color: rgba(0, 0, 0, 0.5);
}*/
#main-menu {
  font-family: ubuntu;
  font-size: 1em;
/*  text-transform: uppercase;*/
}
#main-menu li {
  background:#000 url(../images/bgd_menu.gif) center center repeat-x;
  margin:0;
  padding:5px 10px;
  text-shadow: #000 0 2px 2px;
}
#main-menu li.active {
  background-color: rgba(0, 0, 0, 0.5);
}

/*#main-menu li a:first-letter {
  font-size: 1.3em;
  text-transform: uppercase;
}*/
/*#main-menu li a {
  padding:0 10px;
  line-height:2em;
}*/
#main-menu li.last a {
  font-weight:bold;
}
#main-menu li.last a:link,
#main-menu li.last a:visited {
/*  color:#fff;*/
}
#main-menu li.last a:after{
  content:' »';
}

/*
  Main act Slideshow
*/
#block-flameozmod-slideshow{
/*  margin-left:147px;*/
  width:660px;
}
.field-slideshow-wrapper {
/*  margin-bottom: 50px;*/
  margin-bottom:0;
}

/*
  Slideshow
*/
.field-name-field-slideshow-images .field-slideshow-wrapper {
/*  margin-left:-10px;*/
}
/*thumbnails*/
/*.field-name-field-slideshow-images ul.field-slideshow-pager {
  list-style:none;
  text-align: center;
}
.field-name-field-slideshow-images ul.field-slideshow-pager li {
  float:left;
}*/
/*numbers*/
/*.field-name-field-slideshow-images div.field-slideshow-pager {
  list-style:none;
  text-align: center;
  margin-top: 10px;
}
.field-name-field-slideshow-images div.field-slideshow-pager a {
  font-size: 2em;
  margin:10px;
}*/

/*
  Testimonial slideshow
*/
.field-name-field-testimonial .field-text-slideshow-wrapper {
  width: 260px !important;
  float:right;
  clear:both;
  margin: 10px 10px 20px 40px;
  
  /**/
  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;
  border: 1px solid #2e2e2e;
/*  margin: 20px 0;*/
/*  padding: 10px 10px 20px 10px;*/
  /*round corners*/
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
}
.field-name-field-testimonial .field-text-slideshow {
/*  height:140px;*/
  width: 240px !important;
  margin:0 10px;
}
.field-name-field-testimonial .field-text-slideshow-slide {
  width: 240px !important;
  padding:3px 0;
  
  color:#777;
  text-align:right;
}
.field-name-field-testimonial .field-text-slideshow-slide h2 {
  font-size: 1.1em;
  color: #fff;
  text-align:left;
  margin-top:1em;
  margin-bottom:0.5em;
  font-style:italic;
}
.field-name-field-testimonial .field-text-slideshow-slide p {
  margin-top:0;
  font-weight:bold;
}
.field-name-field-testimonial .field-text-slideshow-controls {
  text-align:center;
}


.field-name-field-body-extended h3 {
  padding:0;
  margin: 10px 0 5px;
}
.field-name-field-body-extended p {
  padding:0;
  margin: 0 0 20px;
}
.field-name-field-tabs {
  clear:both;

}


.node-resume .field-name-field-testimonial .field-text-slideshow-wrapper {
/*  width: 660px !important;*/
  width: 620px !important;
  float:none;
  margin-left:0;
  margin-right:20px;
}
.node-resume .field-name-field-testimonial .field-text-slideshow {
/*  width: 640px !important;*/
  width: 600px !important;
}
.node-resume .field-name-field-testimonial .field-text-slideshow-slide {
/*  width: 640px !important;*/
  width: 600px !important;
}

.field-text-slideshow-controls {
  font-size:1.1em;
  font-weight:bold;
}
.field-text-slideshow-controls .prev {
  margin-right:10px;
}
.field-text-slideshow-controls .next {
  margin-left:10px;
}
.field-text-slideshow-controls .prev:before {
  /*&laquo;*/
  content:"« ";
}
.field-text-slideshow-controls .next:after {
  /*&raquo;*/
  content:" »";
}

hr {
  border: 1px solid #333333;
  height: 1px;
}
/*
  Headers
*/
h1, h2, h3, h4, h5, h6 {
  font-family:"Ubuntu", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-weight: normal;
  text-shadow: 1px 1px 2px #000;
}

h1 {
/*  text-align:center;*/
  color:#fff;
}



/*
  Other Acts Block
*/

#block-flameozmod-other-acts {
  clear:both;
  margin:20px 0;
}
#block-flameozmod-other-acts .block-title {
  margin-bottom:10px;
}
#block-flameozmod-other-acts a img {
  margin-right:10px;
  -moz-box-shadow:    0 10px 10px #000;
  -webkit-box-shadow: 0 10px 10px #000;
  box-shadow:         0 10px 10px #000;
}

/* contact details footer block*/
#block-block-1 {
  margin-top:10px;
}
#block-block-1 p {
  margin:5px 0;
}
/*
.other-acts-thumbnail {
  background:#111;
  display:block;
  float:left;
  width:60px;
  height:60px;
  margin:10px;
  padding:0;
}*/

/*
  Flowplayer
*/
.field-flowplayer-wrapper{
/*  background: #000;*/
}
.field-flowplayer{
  margin: 70px auto;
  width: 540px;
}


/*
  SITE COLORS
*/

/* FLAMEOZ */
#main-triple-1 a:link,
#foot-triple-1 a:link {
  color:#f90;
}

#main-triple-1 a:visited,
#foot-triple-1 a:visited {
  color:#f90;
}

#main-triple-1 a:hover,
#foot-triple-1 a:hover,
#main-triple-1 a:focus,
#foot-triple-1 a:focus  {
  color:#ff3;
}

#main-triple-1 a:active,
#foot-triple-1 a:active {
  color:#ff3;
}

/* CALVOS */
#main-triple-2 a:link,
#foot-triple-2 a:link {
  color:#09f;
}

#main-triple-2 a:visited,
#foot-triple-2 a:visited {
  color:#09f;
}

#main-triple-2 a:hover,
#foot-triple-2 a:hover,
#main-triple-2 a:focus,
#foot-triple-2 a:focus  {
  color:#3ff;
}

#main-triple-2 a:active,
#foot-triple-2 a:active {
  color:#3ff;
}

/* HALO */
#main-triple-3 a:link,
#foot-triple-3 a:link {
  color:#f09;
}

#main-triple-3 a:visited,
#foot-triple-3 a:visited {
  color:#f09;
}

#main-triple-3 a:hover,
#foot-triple-3 a:hover,
#main-triple-3 a:focus,
#foot-triple-3 a:focus  {
  color:#f3f;
}

#main-triple-3 a:active,
#foot-triple-3 a:active {
  color:#f3f;
}

/*
  Bookings form
*/
#webform-client-form-35 {
/*  margin-left:10px;*/
}
#webform-client-form-35 label {
  font-weight:normal;
  font-family: "Ubuntu", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

#webform-client-form-35 div.form-item {
/*  width: 270px;*/
}

#webform-client-form-35 div.webform-component-textfield input{
  width: 270px;
  background-color: #333;
  border: 1px solid #666666;
  font-size:12px;
  color: #FFFFFF;
}
#webform-client-form-35 div.webform-component-email input{
  width: 270px;
  background-color: #333;
  border: 1px solid #666666;
  font-size:12px;
  color: #FFFFFF;
}
#webform-client-form-35 textarea {
  width: 270px;
  background-color: #333;
  border: 1px solid #666666;
  font-size:12px;
  color: #FFFFFF;
}

#webform-client-form-35 #edit-actions {
  text-align:center;
}
#webform-client-form-35 #edit-actions input {
  background: #ccc;
  border: 2px solid #333;
  
  color: #333;
  cursor:pointer;
  
  font-size: 1.6em;
  
  padding: 0.3em 0.6em;
  margin:  0.3em 0.6em;
  
  -webkit-border-radius: 5px;
  -moz-border-radius:    5px;
  border-radius:         5px;
  position: relative;
  top: -90px;

}
#webform-client-form-35 #edit-actions input:hover,
#webform-client-form-35 #edit-actions input:active {
  background: #333;
  border: 2px solid #000;
  
  color: #fff;
}

/*company logos on resume page*/
.field-name-field-company-logo {
  width: 660px;
  overflow:visible;
}
.field-name-field-company-logo .field-item {
  float:left;
  height:160px;
  width:160px;
/*  background:#666;*/
/*  border:1px solid #ccc;*/
/*  margin: 20px 20px 0 0;*/
}
.field-name-field-company-logo .field-item img {
  /*box shadow*/
  -moz-box-shadow:    0 5px 5px #000;
  -webkit-box-shadow: 0 5px 5px #000;
  box-shadow:         0 5px 5px #000;
}
#flameozmod-carousel-wrapper {
/*  width:700px;
  margin-left:-20px;*/
}
#flameozmod-carousel {
  float:left;
}

/**
 * BODY Headers
 */
.field-name-body h4,
.field-name-body h5,
.field-name-body h6 {
  margin-bottom:0;
}
.field-name-body p {
  margin: 0.1em 0 1em 0;
}

/**
 * TABLES
 */

.two-col-table,
.three-col-table,
.four-col-table {
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 0 0 -10px;
  width: 680px;
}

.two-col-table tr,
.three-col-table tr,
.four-col-table tr {
  vertical-align: top;
}

.special,
.textured/*,
.two-col-table td,
.three-col-table td,
.four-col-table td*/ {
  border: 1px solid #2e2e2e;
  margin: 20px 0;
/*  padding: 10px 10px 20px 10px;*/
  padding: 10px 10px 10px 10px;
  /*round corners*/
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius: 5px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /*box shadow*/
/*  -moz-box-shadow:    0 5px 5px #000;
  -webkit-box-shadow: 0 5px 5px #000;
  box-shadow:         0 5px 5px #000;*/
}

/* special */
.special {
  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;
  border: 2px solid #666;
  text-align: center;
  font-style: italic;
}
.textured {
  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;
  border: 1px solid #666;
  text-align: center;
  font-style: italic;
}

/*two-col-table*/
.two-col-table {
  text-align: left;
}
.two-col-table tr {
}
.two-col-table td {
  width: 50%;
  font-size: 0.9em;
}
/*three-col-table*/
.three-col-table {
  text-align: left;
}
.three-col-table tr {
}
.three-col-table td {
  width: 33%;
  font-size: 0.9em;
}
/*four-col-table*/
.four-col-table {
  text-align: left;
}
.four-col-table tr {
}
.four-col-table td {
  width: 25%;
  font-size: 0.9em;
}

/*stage-size-table*/
.stage-size-table {
  margin-top:0;
  width: 440px;
}
.stage-size-table tr {
  vertical-align: top;
}
.stage-size-table th {
  background-color:#333;
  border:1px solid #444;
  font-weight:normal;
  text-align: center;
}
.stage-size-table td {
  background: #000;
  width: 25%;
  font-size: 1em;
  text-align: center;
  border:1px solid #333;
}

/*read more link*/
.field-name-field-body-extended .field-label {
  margin: 0 0 10px;

  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  font: normal 1.3em "Ubuntu", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}

.field-name-field-image-gallery .field-slideshow {
  text-align: center;
  margin: auto;
}
.field-name-field-image-gallery .field-slideshow-slide {
  text-align: center;
/*  margin: 50px 0;*/
  height: 440px !important;
/*  width: 660px !important;*/
  margin-top:10px;
}
.field-name-field-image-gallery .field-slideshow-slide img {
  text-align: center;
  margin: auto;

/*  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;*/
  background-color: #000;
/*  border: 1px solid #2e2e2e;*/
/*  margin: 20px 0;*/
/*  padding: 10px 10px 10px 10px;*/
  /*box shadow*/
/*  -moz-box-shadow:    0 5px 5px #000;
  -webkit-box-shadow: 0 5px 5px #000;
  box-shadow:         0 5px 5px #000;*/
}

.field-name-field-image-gallery .field-slideshow-pager {
  text-align: center;
  margin: auto;
/*  height: 150px !important;*/
}
.field-name-field-image-gallery .field-slideshow-pager li {
/*  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;*/
  background-color: #000;
  border: 3px solid #000;
  margin: 0 5px 0 0;
  padding: 6px 6px 3px 6px;
  /*box shadow*/
/*  -moz-box-shadow:    0 5px 5px #000;
  -webkit-box-shadow: 0 5px 5px #000;
  box-shadow:         0 5px 5px #000;*/
}

.field-slideshow-carousel-wrapper {
  margin-left: 16px;
}
.carousel-prev {
  float:left;
  font-size:3em;
  padding:37px 10px 0 0;
}
.field-slideshow-carousel {
  float:left;
}
.carousel-next {
  float:left;
  font-size:3em;
  padding:37px 0 0 0;
}

/*
  tabs
*/
div.fs-tabs,
div.fs-tabs-theme {
  margin-top:40px;
  font-size: 13px;
 margin-bottom:0px;

}

.fs-tabs-wide {
  margin:40px -40px;
}

.node-type-technical div.fs-tabs {
  margin: 40px 80px;
}
ul.fs-tabs-nav,
ul.fs-tabs-theme-nav {
  background: transparent;
  list-style:none;
  margin:0;
  padding:0;
/*  white-space: nowrap;*/
  height:26px;
}
ul.fs-tabs-nav li,
ul.fs-tabs-theme-nav li {
  float:left;
}
ul.fs-tabs-nav li a,
ul.fs-tabs-theme-nav li a {
/*  border-bottom:2px solid #666;*/
  padding:10px;
}
ul.fs-tabs-nav li a.selected,
ul.fs-tabs-theme-nav li a.selected {
  background: #000 url(../images/bgd_menu.gif) center bottom repeat-x;
  border:2px solid #666;
  border-bottom:none;
  -webkit-border-top-left-radius:  5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft:      5px;
  -moz-border-radius-topright:     5px;
  border-top-left-radius:          5px;
  border-top-right-radius:         5px;
}
div.fs-tabs-panel,
div.fs-tabs-theme-panel {
  background: #000 url(../images/bgd_grad_1.gif) repeat-x 50% 100%;
  
  clear:both;
  
  border: 2px solid #666;
/*  border-top:none;*/
  margin: 0;
/*  padding: 10px 10px 20px 10px;*/
  padding: 15px 15px 40px;
  /*round corners*/
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /*box shadow*/
/*  -moz-box-shadow:    0 5px 5px #000;
  -webkit-box-shadow: 0 5px 5px #000;
  box-shadow:         0 5px 5px #000;*/

}

/* field-name-places */
.field-name-field-places {
  margin-top:20px;
}
.field-name-field-places h3 {
  margin-bottom:0;
}
.field-name-field-places ul {
  margin:0;
}

#block-webform-client-block-35 h2.block-title{
  display: none;
}

.node-type-booking .fs-tabs{
  margin-top: 0;
}

.node-type-booking .fs-tabs-nav {
  display: none;
}

.node-type-booking #webform-component-instructions{

}

.node-type-booking .two-col-table{
display: none;
}



#webform-component-left{
  width: 47%;
  float: left;
  border: none;
 float: left;
 margin-right: 5px;
}

#webform-component-right{
  width: 47%;  
  border: none;
}