/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal6-reference.css, line 510.)
 */


div.tabs {
  margin: 0 0 5px 0;
  float:right;
  font-size: 8px;
}

ul.primary {
  margin: 0;
/*  padding: 0 0 0 10px;  LTR */
  padding:0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: #111;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 2px;
}

ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
/*  padding: 0 0 0 5px;  width of tab-left.png */
  padding:0;
  border-width: 0;
  font-weight: normal;
  text-decoration: none;
  color: #ccc;
  background-color: transparent;
  background: #111;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
/*  padding: 4px 13px 0 6px;*/
  padding:0;
  border-width: 0;
  line-height: 20px;
  background: #111;
}

ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: #111;
}

ul.primary li a:hover .tab {
  background: #111;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #fff;
  background-color: transparent;
  background: #111;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: #111;
}

ul.secondary {
  margin: 0;
/*  padding: 0 0 0 5px;  LTR */
  padding:0;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: #222;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none; /* LTR */
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 2px;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #999;
  background: #222;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
/*  padding: 3px 8px;*/
  padding:0;
  line-height: 18px;
}

ul.secondary a:hover {
  background: #222;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #ccc;
  background: #222;
}
