/* @override 
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?ma7wxj
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mbaye6
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mjnjwd
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mjpe3f
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mjpfn0
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mq58kp
	http://flameoz.com/sites/all/themes/flameoz/css/flameoz.css?mq5eyf */

/*
  These styles apply to flameOz only
  color1: #f90
  color2: #ff3
  color3: #66c
  texture1: url(../images/bgd_gradient_flameoz.gif)
  texture_new: url(../images/bgd_text_box_flameoz.jpg)
*/

/*this is because you can't read teh header*/
/*#page {
  position:relative;
  left:30px;
}*/

h1#site-name, div#site-name a {
  color:#f90;
}

/*h1.title {
  color:#f90;
}*/

h2, h3, h4, h5, h6 {
  color:#f90;
}

a:link {
  color:#f90;
}

a:visited {
  color:#f90;
}

a:hover,
a:focus {
  color:#ff3;
}

a:active,
#main-menu li a.active {
  color:#ff3;
}

.four-col-table td {
/*  border-color: #f90;*/
}

.field-name-field-body-extended .field-label {
  color:#f90;

}
.field-name-field-body-extended .field-label:hover {
  color:#ff3;
}

/*
  Main act
*/
/*body.node-type-main-act {*/
body {
  background-image: url(../images/slide2_flameoz_bgd3.jpg);
}

/*footer graphic*/
#body-inner {
  background: transparent url(../images/footer_flameoz_3.jpg) no-repeat 50% 100%;
}
body.node-type-home-page #body-inner {
  background:none;
  padding: 0;
}

/*
  main menu
*/
#main-menu {
/*  text-align: right;*/
  position: relative;
  left: 20px;
  top: -10px;
}
#main-menu li {
}
#main-menu li.active {
  /*box shadow*/
  -moz-box-shadow:    0 0 5px #f90;
  -webkit-box-shadow: 0 0 5px #f90;
  box-shadow:         0 0 5px #f90;
}

/*special*/
.special {
/*  background-image: url(../images/bgd_gradient_flameoz.gif);*/
  background-image: url(../images/bgd_text_box_flameoz.jpg);
  border-color:#66c;
}
.textured {
/*  background-image: url(../images/bgd_gradient_flameoz.gif);*/
  background-image: url(../images/bgd_text_box_flameoz.jpg);
}
/*image gallery*/
.field-name-field-image-gallery .field-slideshow-pager li.activeSlide {
  border-color:#ff3;
}
/*testimonial*/
.field-name-field-testimonial .field-text-slideshow-wrapper {
/*  background-image: url(../images/bgd_gradient_flameoz.gif);*/
  background-image: url(../images/bgd_text_box_flameoz.jpg);
  border-color:#66c;
  margin-bottom: 30px !important;
}
/*
  tabs
*/
ul.fs-tabs-nav li a.selected,
ul.fs-tabs-theme-nav li a.selected {
/*  background-image: url(../images/bgd_menu.gif);*/
  border-color:#66c;
  color:#ff3;
}
div.fs-tabs-panel,
div.fs-tabs-theme-panel {
/*  background-image: url(../images/bgd_gradient_flameoz.gif);*/
  background-image: url(../images/bgd_text_box_flameoz.jpg);
  border-color:#66c;
}


.jcarousel-skin-default {
  text-align: center;
  margin-left: -20px;
  margin-bottom: 30px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 600px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
  
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 600px;
  overflow: hidden;
}


.jcarousel-skin-default .jcarousel-item {
  padding: 0;
  width: 110px !important;
  height: 90px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
  padding-top: 30px;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 4px;
}

.jcarousel-skin-default .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: none;
}

.jcarousel-skin-default .jcarousel-prev:before{
  content: "«";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.jcarousel-skin-default .jcarousel-next:after{
  content: "»";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}


.jcarousel-skin-default .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

#node-4 .field-name-body p{
  margin-bottom: 5px !important;
}

.views-slideshow-controls-text-next  views-slideshow-controls-text-next-processed{
  
  
}

.views_slideshow_controls_text_next a,
.views_slideshow_controls_text_previous a{
  display: block;
  width: 100px;
  height: 32px;
  background-image: none;
 text-indent: -9999px;
}

.views_slideshow_controls_text_previous:before{
  content: "«";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 110px;
  bottom: 550px;
  color: #FF9900;
}

.views_slideshow_controls_text_next:after{
  content: "»";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 110px;
  bottom: 550px;
  color: #FF9900;

}

#views_slideshow_controls_text_pause_video_slideshow-block{
   display: block;
   width: 100px;
   height: 32px;
   background-image: none;
   color:#888;
   float: left;
   margin-left: 20px;

}

#views_slideshow_slide_counter_video_slideshow-block{
  display: block;
  width: 100px;
  height: 32px;
  background-image: none;
  color:#888;
  float: right;
  margin-top: -40px;
  
}


