.field-text-slideshow {
  overflow: hidden;
}

.region-content ul.field-text-slideshow-pager {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.field-text-slideshow-pager li {
  float: left;
  margin-right: 5px;
}