/* @override 
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?ma7wxj
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mbaye6
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mjnjwd
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mjpddw
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mjpfn0
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mq58kp
	http://haloglowshow.com/sites/all/themes/halo/css/halo.css?mq5ge6 */

/*
  These styles apply to halo only
  color1: #c03
  color2: #c6c
  color3: #63c
  texture1: url(../images/bgd_gradient_halo.gif)
  texture_new: url(../images/bgd_text_box_halo.jpg)
*/
/*this is because you can't read teh header*/
/*#page {
  position:relative;
  left:30px;
}*/

h1#site-name, div#site-name a {
  color:#c03;
}

h1.title{
  clear: both;
}

/*h1.title {
  color:#c03;
}*/

h2, h3, h4, h5, h6 {
  color:#c03;
}

a:link {
  color:#c03;
}

a:visited {
  color:#c03;
}

a:hover,
a:focus {
  color:#c6c;
}

a:active,
#main-menu li a.active  {
  color:#c6c;
}

.field-name-field-body-extended .field-label {
  color:#c03;
}
.field-name-field-body-extended .field-label:hover {
  color:#c6c;
}

/*
  Main act
*/
/*body.node-type-main-act {*/
body {
  background-image: url(../images/slide2_halo_bgd3.jpg);
}

#content{
background-color: rgba(0, 0, 0, 0.60);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
z-index: 99;
padding: 20px!important;

}

.node-type-home-page #content{
  padding-top: 0 !important;
   
}

.page-node-12 #content{
background-color: rgba(0, 0, 0, 0.0);
padding: 0 !important;
}

/*footer graphic*/
#body-inner {
  background: transparent url(../images/footer_halo_3.jpg) no-repeat 50% 100%;
}
body.node-type-home-page #body-inner {
  background:none;
  padding: 0;
}

/*
  main menu
*/
#main-menu {
/*  text-align: right;*/
  position: relative;
  left: 53px;
  top: -10px;
}
#main-menu li {
}
#main-menu li.active {
  /*box shadow*/
  -moz-box-shadow:    0 0 5px #c03;
  -webkit-box-shadow: 0 0 5px #c03;
  box-shadow:         0 0 5px #c03;
}

/*special*/
.special {
/*  background-image: url(../images/bgd_gradient_halo.gif);*/
  background-image: url(../images/bgd_text_box_halo.jpg);
  border-color:#63c;
}
.textured {
/*  background-image: url(../images/bgd_gradient_halo.gif);*/
  background-image: url(../images/bgd_text_box_halo.jpg);
}
/*image gallery*/
.field-name-field-image-gallery .field-slideshow-pager li.activeSlide {
  border-color:#c6c;
}

/*testimonial*/
.field-name-field-testimonial .field-text-slideshow-wrapper {
/*  background-image: url(../images/bgd_gradient_halo.gif);*/
  background-image: url(../images/bgd_text_box_halo.jpg);
  border-color:#63c;
}

/*
  tabs
*/
ul.fs-tabs-nav li a.selected,
ul.fs-tabs-theme-nav li a.selected {
/*  background-image: url(../images/bgd_menu.gif);*/
  border-color:#63c;
  color:#c6c;
}
div.fs-tabs-panel,
div.fs-tabs-theme-panel {
/*  background-image: url(../images/bgd_gradient_halo.gif);*/
  background-image: url(../images/bgd_text_box_halo.jpg);
  border-color:#63c;
}

#block-webform-client-block-35 h2.block-title{
  display: none;
}


.jcarousel-skin-default {
  text-align: center;
  margin-left: -80px;
  margin-bottom: 30px;
}

.jcarousel-skin-default .jcarousel-container-horizontal {
  width: 720px;
  height: 102px;
  padding: 20px 40px;
  margin: auto;
  
}

.jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 720px;
  overflow: hidden;
}


.jcarousel-skin-default .jcarousel-item {
  padding: 0;
  width: 110px !important;
  height: 90px;
  overflow: hidden;
  border: 1px solid #CCC;
  list-style: none;
  background: #fff none;
  padding-top: 30px;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
  margin: 0 4px;
}

.jcarousel-skin-default .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-skin-default .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-default .jcarousel-next,
.jcarousel-skin-default .jcarousel-prev {
  display: block;
  width: 32px;
  height: 32px;
  background-image: none;
}

.jcarousel-skin-default .jcarousel-prev:before{
  content: "«";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.jcarousel-skin-default .jcarousel-next:after{
  content: "»";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
}

.jcarousel-skin-default .jcarousel-next-disabled,
.jcarousel-skin-default .jcarousel-prev-disabled {
  display: none;
}

/**
 * Horizontal Buttons
 */
.jcarousel-skin-default .jcarousel-prev-horizontal {
  position: absolute;
  top: 55px;
  left: 10px;
  background-position: 0 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
  background-position: -32px 0;
}
.jcarousel-skin-default .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
  position: absolute;
  top: 55px;
  right: 10px;
  background-position: 0 -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
  background-position: -32px -32px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:active {
  background-position: -64px -32px;
}


.jcarousel-skin-default .jcarousel-navigation {
  margin: 0;
  padding: 0;
}

.jcarousel-skin-default .jcarousel-navigation li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  background: none;
}

.jcarousel-skin-default .jcarousel-navigation li.active a {
  font-weight: bold;
  text-decoration: none;
}

/* Hide domain access warning message on webform */
.page-node-15 .warning{
  display:none;
} 


.views_slideshow_controls_text_next a,
.views_slideshow_controls_text_previous a{
  display: block;
  width: 100px;
  height: 32px;
  background-image: none;
 text-indent: -9999px;
}

.views_slideshow_controls_text_previous:before{
  content: "«";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 110px;
  bottom: 550px;
  color: #CC0033;
}

.views_slideshow_controls_text_next:after{
  content: "»";
  font-size: 40px;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 110px;
  bottom: 550px;
  color: #CC0033;

}

#views_slideshow_controls_text_pause_video_slideshow-block{
   display: block;
   width: 100px;
   height: 32px;
   background-image: none;
   color:#888;
   float: left;
   margin-left: 20px;

}

#views_slideshow_slide_counter_video_slideshow-block{
  display: block;
  width: 100px;
  height: 32px;
  background-image: none;
  color:#888;
  float: right;
  margin-top: -40px;
  
}
